.container-btn {
  display: flex;
}

.btn {
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 85px;
  height: 25px;
}
.btnsave {
  background-color: black;
}
.btncancel {
  background-color: red;
}

.container-savebtn {
  padding-right: 50px;
}
