.campo {
  border-style: solid;
  border-color: black;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  background: #25a7cb;
  padding-bottom: 11px;
  padding-top: 11px;
}

.textinput {
  font-weight: 500;
  padding-bottom: 5px;
}

.inputarea {
  padding-bottom: 5px;
}

.inputfieldname {
  margin-left: 30px;
}

.inputfieldcpf {
  margin-left: 47px;
}

.inputfieldadress {
  margin-left: 6px;
}

.inputfieldstate {
  margin-left: 26px;
}

.inputfielddistrict {
  margin-left: 30px;
}

.inputfieldzipcode {
  margin-left: 45px;
}

.inputfieldnumber {
  margin-left: 10px;
}
